/* Font is here  */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Font is here  */

/* universal-designs */

main {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin: 130px;
}

.display-flex {
  display: flex;
}

.primary-btn-colour {
  color: rgba(255, 144, 14, 1);
}

.btn-primary {
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 144, 14, 1);
  font-size: 1.25rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  padding: 20px 25px;
}

/* dark-02 */
.colour-grey {
  color: #424242;
}

/* dark-03 */
.colour-light-grey {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

/* header design  */

/* Navbar Design  */

.navbar {
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.nav-item {
  list-style: none;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.brand {
  font-size: 2.5rem;
  font-weight: bold;
}

/*Banner Section*/
.text-section {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3.5rem;
}

.banner-title {
  font-size: 4rem;
  font-weight: bold;
}

.banner-image {
  width: 100%;
}

/* Teams and features */

.Teams {
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features-content {
  margin-left: 130px;
  max-width: 530px;
}

.feature-title {
  font-size: 2.8rem;
  font-weight: bold;
}

/* Media Queries */

/* Small Device */

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .Teams {
    flex-direction: column;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .our-features-content {
    margin-left: 0;
    text-align: center;
  }
}

/* Medium Device */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .Teams {
    flex-direction: column;
  }

  /* .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  } */

  .our-features-content {
    margin: 50px auto;
    text-align: center;
  }
}
