/* Font is here  */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Font is here  */

/* universal-designs */

main {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin: 130px;
}

.section-title {
  font-size: 2.8rem;
  font-weight: bold;
}

.display-flex {
  display: flex;
}

.primary-btn-colour {
  color: rgba(255, 144, 14, 1);
}

.btn-primary {
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 144, 14, 1);
  font-size: 1.25rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  padding: 20px 25px;
}

/* dark-02 */
.colour-grey {
  color: #424242;
}

/* dark-03 */
.colour-light-grey {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

/* header design  */

/* Navbar Design  */

.navbar {
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.nav-item {
  list-style: none;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.brand {
  font-size: 2.5rem;
  font-weight: bold;
}

/*Banner Section*/
.text-section {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3.5rem;
}

.banner-title {
  font-size: 4rem;
  font-weight: bold;
}

.banner-image {
  width: 100%;
}

/* Teams and features */

.Teams {
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features-content {
  margin-left: 130px;
  max-width: 530px;
}

/* Some fact realted styles */

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card {
  border: 1px solid rgba(255, 144, 14, 1);
  width: 240px;
  height: 240px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
}

/* Sponsor Related */

.sponsor-info {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
  /* border: 2px solid orange; */
}

.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 70px auto;
}

.sponsor-companies img {
  filter: grayscale(100%);
}

/* Medium Device */

/* Media Queries */

/* Small Device */

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .Teams {
    flex-direction: column;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .our-features-content {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .Teams {
    flex-direction: column;
  }

  .team-img-container,
  .facts-container,
  .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
  }

  .facts-container {
    align-self: center;
    align-items: center;
    justify-items: center;
    gap: 24px;
  }

  .sponsor-companies {
    gap: 30px;
    align-self: center;
    justify-items: center;
  }

  .our-features-content {
    margin: 50px auto;
    text-align: center;
  }
}
